openapi: 3.0.3
info:
  title: Mallary API
  version: "1.3.0"
  description: |
    Public API for multi-platform publishing, analytics, media upload, and webhooks.

    Authentication:
    - Use header `Authorization: Bearer {api_key}`.
    - API key identity is authoritative. Do not use `user_id` to identify a caller.

    Connection profiles:
    - Omit `profile_id` to use the authenticated user's default profile.
    - Send the profile's random public `profile_id` when you want to publish, list posts, read analytics, list platforms, update settings, or disconnect a platform for a non-default profile.
    - Use `GET /api/v1/profiles` to list profile IDs.
    - Per-platform account caps by plan: Free 1, Starter 4, Pro 10, Business 50.

    Rate limits (per user, per minute) depend on subscription plan:
    - plan_id 1: 75 req/min
    - plan_id 2: 150 req/min
    - plan_id 3: 750 req/min
    - plan_id 4: 1500 req/min
servers:
  - url: https://mallary.ai
    description: Production
security:
  - bearerAuth: []
paths:
  /api/v1/upload:
    post:
      operationId: createUploadUrl
      summary: Create presigned upload URL
      description: Returns a temporary PUT URL and a public media URL for use in `POST /api/v1/post`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateUploadRequest"
      responses:
        "200":
          description: Upload metadata created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateUploadResponse"
        "400":
          description: Invalid request (missing filename, invalid size when provided, unsupported MIME type, or size exceeded)
        "401":
          description: Missing or invalid API key
        "403":
          description: Supplied `user_id` (if any) does not match API key owner
        "429":
          description: Rate limit exceeded

  /api/v1/post:
    post:
      operationId: createPost
      summary: Create or schedule a post across platforms
      description: Enqueues one job per selected platform and returns job IDs plus `batch_id`. Platform post IDs and URLs are `null` in the queued response until each platform finishes publishing; read `GET /api/v1/jobs/{id}` or `GET /api/v1/posts` for populated `platform_post_id` and `platform_post_url` values after completion.
      parameters:
        - in: header
          name: Idempotency-Key
          required: false
          schema:
            type: string
          description: Optional idempotency key to prevent duplicate submissions.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreatePostRequest"
      responses:
        "200":
          description: Jobs enqueued
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreatePostResponse"
        "400":
          description: Validation error (platform/media constraints, unsupported platform, etc.)
        "401":
          description: Missing or invalid API key
        "402":
          description: Posting limit reached for current plan
        "403":
          description: Feature not available on current plan, or supplied `user_id` does not match API key owner
        "429":
          description: Rate limit exceeded

  /api/v1/jobs/{id}:
    get:
      operationId: getJob
      summary: Get job status
      description: Returns queue/database job status, result, and user warnings.
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
          description: Job ID returned by `POST /api/v1/post`.
      responses:
        "200":
          description: Job found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetJobResponse"
        "401":
          description: Missing or invalid API key
        "403":
          description: Supplied `user_id` (if any) does not match API key owner
        "404":
          description: Job not found

  /api/v1/jobs/{id}/tiktok/post-url:
    post:
      operationId: attachTikTokPostUrl
      summary: Attach the final TikTok post URL
      description: Saves the final TikTok URL after a manual TikTok upload is complete. This endpoint only accepts TikTok jobs that are waiting for the final URL.
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
          description: TikTok job ID returned by `POST /api/v1/post`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [post_url]
              properties:
                post_url:
                  type: string
                  format: uri
                  description: Final public TikTok post URL.
      responses:
        "200":
          description: TikTok post URL saved
        "400":
          description: Invalid job ID, missing URL, or non-TikTok job
        "401":
          description: Missing or invalid API key
        "404":
          description: Job not found
        "409":
          description: The job is not waiting for a final TikTok post URL

  /api/v1/posts:
    get:
      operationId: listPosts
      summary: List grouped posts
      description: Returns grouped multi-platform posts with per-platform outcomes, retries, warnings, and capabilities.
      parameters:
        - in: query
          name: page
          required: false
          schema:
            type: integer
            minimum: 1
            default: 1
        - in: query
          name: per_page
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 10
        - in: query
          name: profile_id
          required: false
          schema:
            $ref: "#/components/schemas/ProfileId"
          description: Filter grouped posts to one connection profile. Omit to use the default profile.
      responses:
        "200":
          description: Posts retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListPostsResponse"
        "401":
          description: Missing or invalid API key
        "403":
          description: Supplied `user_id` (if any) does not match API key owner

  /api/v1/comments:
    get:
      operationId: listPostComments
      summary: List comments on a published post
      description: Returns comments/replies for one Mallary-published platform post so an external agent can draft responses in the user's voice. Available on all plans.
      parameters:
        - in: query
          name: post_id
          required: true
          schema:
            type: integer
          description: Mallary job/post ID returned by `POST /api/v1/post` or `GET /api/v1/posts`.
        - in: query
          name: platform
          required: false
          schema:
            $ref: "#/components/schemas/CommentPlatform"
          description: Optional platform hint. Required only when a stored post cannot be disambiguated from the job record.
        - in: query
          name: profile_id
          required: false
          schema:
            $ref: "#/components/schemas/ProfileId"
          description: Optional connection profile ID. Omit to use the profile that created the post.
        - in: query
          name: limit
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 25
      responses:
        "200":
          description: Comments retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListCommentsResponse"
        "400":
          description: Invalid post ID or unsupported platform
        "401":
          description: Missing or invalid API key
        "404":
          description: Post not found
        "409":
          description: Post not published yet or platform connection unavailable

  /api/v1/comments/reply:
    post:
      operationId: replyToComment
      summary: Reply to a comment
      description: Posts the exact supplied `message` as a reply/comment through the connected platform account. Mallary does not generate the text. 
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReplyToCommentRequest"
      responses:
        "200":
          description: Reply posted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReplyToCommentResponse"
        "400":
          description: Invalid request
        "401":
          description: Missing or invalid API key
        "404":
          description: Post not found
        "409":
          description: Post not published yet or platform connection unavailable
        "429":
          description: Platform or API rate limit exceeded

  /api/v1/posts/{id}/comments:
    get:
      operationId: listPostCommentsByPath
      summary: List comments on a published post
      description: Path-style alias for `GET /api/v1/comments?post_id={id}`.
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
        - in: query
          name: platform
          required: false
          schema:
            $ref: "#/components/schemas/CommentPlatform"
        - in: query
          name: profile_id
          required: false
          schema:
            $ref: "#/components/schemas/ProfileId"
        - in: query
          name: limit
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 25
      responses:
        "200":
          description: Comments retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListCommentsResponse"
        "401":
          description: Missing or invalid API key
        "404":
          description: Post not found

  /api/v1/posts/{id}:
    delete:
      operationId: deletePendingPost
      summary: Delete pending/scheduled post
      description: Deletes queued/scheduled jobs for a grouped post that has not started publishing.
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Deleted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeletePostResponse"
        "400":
          description: Invalid post id
        "401":
          description: Missing or invalid API key
        "404":
          description: Post not found
        "409":
          description: Post already started publishing and can no longer be deleted

  /api/v1/posts/{id}/comments/{comment_id}/reply:
    post:
      operationId: replyToCommentByPath
      summary: Reply to a comment
      description: Path-style alias for `POST /api/v1/comments/reply`.
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
        - in: path
          name: comment_id
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [message]
              properties:
                message:
                  type: string
                  minLength: 1
                platform:
                  $ref: "#/components/schemas/CommentPlatform"
                profile_id:
                  $ref: "#/components/schemas/ProfileId"
      responses:
        "200":
          description: Reply posted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReplyToCommentResponse"
        "401":
          description: Missing or invalid API key
        "404":
          description: Post not found
        "409":
          description: Post not published yet or platform connection unavailable

  /api/v1/analytics:
    get:
      operationId: listAnalytics
      summary: Get latest analytics snapshots
      description: Returns latest per-platform metrics for recent posts, or for one post via `post_id`.
      parameters:
        - in: query
          name: post_id
          required: false
          schema:
            type: integer
          description: Filter to a single post/job ID owned by the authenticated user.
        - in: query
          name: profile_id
          required: false
          schema:
            $ref: "#/components/schemas/ProfileId"
          description: Filter analytics to one connection profile. Omit to use the default profile.
      responses:
        "200":
          description: Analytics retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [ok]
                  data:
                    type: object
                    properties:
                      profile_id:
                        type: string
                        pattern: "^[A-Za-z0-9]{6,32}$"
                        nullable: true
                      analytics:
                        type: array
                        items:
                          $ref: "#/components/schemas/AnalyticsItem"
        "401":
          description: Missing or invalid API key
        "403":
          description: Analytics are not available for current plan, or supplied `user_id` does not match API key owner
        "404":
          description: Post not found

  /api/v1/platforms:
    get:
      operationId: listPlatforms
      summary: List connected platforms
      description: Returns Mallary's supported public platform set and marks which platforms are currently connected for the selected connection profile.
      parameters:
        - in: query
          name: profile_id
          required: false
          schema:
            $ref: "#/components/schemas/ProfileId"
          description: Connection profile to inspect. Omit to use the default profile.
      responses:
        "200":
          description: Platform connection summary retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConnectedPlatformsResponse"
        "401":
          description: Missing or invalid API key
        "403":
          description: Supplied `user_id` (if any) does not match API key owner

  /api/v1/profiles:
    get:
      operationId: listConnectionProfiles
      summary: List connection profiles
      description: Returns the authenticated user's connection profiles, connected platforms per profile, and per-platform account caps for the user's plan.
      responses:
        "200":
          description: Connection profiles retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProfileListResponse"
        "401":
          description: Missing or invalid API key
        "403":
          description: Supplied `user_id` (if any) does not match API key owner
    post:
      operationId: createConnectionProfile
      summary: Create connection profile
      description: Creates a named non-default connection profile for grouping platform accounts.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateConnectionProfileRequest"
      responses:
        "201":
          description: Connection profile created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProfileMutationResponse"
        "400":
          description: Invalid profile name
        "401":
          description: Missing or invalid API key
        "403":
          description: Supplied `user_id` (if any) does not match API key owner

  /api/v1/profiles/{id}:
    post:
      operationId: renameConnectionProfile
      summary: Rename connection profile
      description: Renames one of the authenticated user's connection profiles.
      parameters:
        - in: path
          name: id
          required: true
          schema:
            $ref: "#/components/schemas/ProfileId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RenameConnectionProfileRequest"
      responses:
        "200":
          description: Connection profile renamed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProfileMutationResponse"
        "400":
          description: Missing or invalid profile id/name
        "401":
          description: Missing or invalid API key
        "404":
          description: Profile not found

  /api/v1/settings:
    get:
      operationId: getSettings
      summary: Get profile settings
      description: Returns brand and AI auto-reply settings for the selected connection profile.
      parameters:
        - in: query
          name: profile_id
          required: false
          schema:
            $ref: "#/components/schemas/ProfileId"
          description: Connection profile settings to read. Omit to use the default profile.
      responses:
        "200":
          description: Settings retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SettingsResponse"
        "401":
          description: Missing or invalid API key
        "403":
          description: Supplied `user_id` (if any) does not match API key owner
    post:
      operationId: updateSettings
      summary: Update profile settings
      description: Updates brand and AI auto-reply settings for the selected connection profile.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SettingsUpdateRequest"
      responses:
        "200":
          description: Settings updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SettingsResponse"
        "400":
          description: Invalid settings or incomplete auto-reply profile
        "401":
          description: Missing or invalid API key
        "403":
          description: AI auto-replies are unavailable for the current plan, or supplied `user_id` does not match API key owner

  /api/v1/disconnect:
    post:
      operationId: disconnectPlatform
      summary: Disconnect a platform
      description: Removes the authenticated user's connection row for a platform from the selected connection profile.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DisconnectRequest"
      responses:
        "200":
          description: Platform disconnected
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DisconnectResponse"
        "400":
          description: Missing or invalid platform
        "401":
          description: Missing or invalid API key
        "403":
          description: Supplied `user_id` (if any) does not match API key owner

  /api/v1/webhooks:
    get:
      operationId: listWebhooks
      summary: List webhooks
      responses:
        "200":
          description: Webhooks for authenticated user
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Webhook"
        "401":
          description: Missing or invalid API key
    post:
      operationId: createWebhook
      summary: Create webhook
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [url]
              properties:
                url:
                  type: string
                  format: uri
                events:
                  type: array
                  items:
                    $ref: "#/components/schemas/WebhookEvent"
                secret:
                  type: string
      responses:
        "200":
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  url:
                    type: string
                    format: uri
                  events:
                    type: array
                    items:
                      $ref: "#/components/schemas/WebhookEvent"
        "400":
          description: Invalid request
        "401":
          description: Missing or invalid API key

  /api/v1/webhooks/{id}:
    delete:
      operationId: deleteWebhook
      summary: Delete webhook
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [ok]
        "400":
          description: Invalid id
        "401":
          description: Missing or invalid API key

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: "Use `Authorization: Bearer {api_key}`"

  schemas:
    PublicPlatform:
      type: string
      description: Canonical public platform identifier used in connected-platform listings.
      enum:
        - x
        - facebook
        - instagram
        - linkedin
        - youtube
        - tiktok
        - pinterest
        - reddit
        - threads
        - snapchat

    ProfileId:
      type: string
      pattern: "^[A-Za-z0-9]{6,32}$"
      example: AbC123xYz90
      description: Random public connection profile ID returned by `GET /api/v1/profiles`.

    Platform:
      type: string
      description: Supported publishing platform identifier.
      enum:
        - twitter
        - x
        - facebook
        - instagram
        - linkedin
        - youtube
        - tiktok
        - pinterest
        - reddit
        - threads
        - snapchat

    CommentPlatform:
      type: string
      description: Platforms that currently support comment listing and reply posting through Mallary.
      enum:
        - facebook
        - instagram
        - threads
        - linkedin
        - x
        - twitter
        - youtube

    Comment:
      type: object
      properties:
        id:
          type: string
        platform:
          $ref: "#/components/schemas/CommentPlatform"
        post_id:
          type: integer
        remote_post_id:
          type: string
        text:
          type: string
        author_name:
          type: string
          nullable: true
        author_id:
          type: string
          nullable: true
        author_username:
          type: string
          nullable: true
        created_at:
          type: string
          nullable: true
        can_reply:
          type: boolean
          description: False when Mallary can identify the comment as authored by the connected account.
        is_own:
          type: boolean
          description: True when Mallary can identify the comment as authored by the connected account.

    CommentPlatformError:
      type: object
      properties:
        post_id:
          type: integer
        platform:
          $ref: "#/components/schemas/CommentPlatform"
        http_status:
          type: integer
        code:
          type: string
        message:
          type: string

    ListCommentsResponse:
      type: object
      properties:
        status:
          type: string
          enum: [ok]
        data:
          type: object
          properties:
            post_id:
              type: integer
            platform:
              type: string
              description: A concrete platform for platform-specific requests, or `multiple` when comments were aggregated across a grouped multi-platform post.
              enum:
                - facebook
                - instagram
                - threads
                - linkedin
                - x
                - twitter
                - youtube
                - multiple
            remote_post_id:
              type: string
              nullable: true
            comments:
              type: array
              items:
                $ref: "#/components/schemas/Comment"
            supported_platforms:
              type: array
              items:
                $ref: "#/components/schemas/CommentPlatform"
            platforms:
              type: array
              description: Platforms checked when a grouped multi-platform post is queried without a platform filter.
              items:
                $ref: "#/components/schemas/CommentPlatform"
            unsupported_platforms:
              type: array
              description: Platforms in the grouped post that do not currently support comment listing through Mallary.
              items:
                type: string
            platform_errors:
              type: array
              description: Per-platform read errors for aggregate grouped-post requests. Other platform comments may still be returned.
              items:
                $ref: "#/components/schemas/CommentPlatformError"

    ReplyToCommentRequest:
      type: object
      required: [post_id, comment_id, message]
      properties:
        post_id:
          type: integer
        comment_id:
          type: string
        message:
          type: string
          minLength: 1
          description: Exact reply text to post. Mallary does not generate or rewrite this text.

    ReplyToCommentResponse:
      type: object
      properties:
        status:
          type: string
          enum: [ok]
        data:
          type: object
          properties:
            post_id:
              type: integer
            platform:
              $ref: "#/components/schemas/CommentPlatform"
            remote_post_id:
              type: string
            comment_id:
              type: string
            reply_id:
              type: string
              nullable: true
            message:
              type: string

    CapabilityTier:
      type: string
      enum: [free, starter, pro, business]

    Capabilities:
      type: object
      properties:
        can_schedule:
          type: boolean
        can_analytics:
          type: boolean
        can_auto_reply:
          type: boolean
        tier:
          $ref: "#/components/schemas/CapabilityTier"
        max_accounts_per_platform:
          type: integer

    MediaItem:
      type: object
      required: [url]
      properties:
        url:
          type: string
          format: uri
          description: Media URL (`mediaUrl` must be obtained from `/api/v1/upload`).
        type:
          type: string
          description: Optional MIME type hint.
        thumbnail_url:
          type: string
          format: uri
          description: Optional Mallary-hosted image URL to use as the custom thumbnail or cover for a video post when supported by the target platform.

    CreateUploadRequest:
      type: object
      required: [filename]
      properties:
        filename:
          type: string
          example: launch-video.mp4
        size:
          type: integer
          minimum: 1
          description: Optional file size in bytes for early validation against the 5GB limit.
        type:
          type: string
          default: application/octet-stream
          description: MIME type. Defaults to `application/octet-stream` if omitted.

    CreateUploadResponse:
      type: object
      required: [uploadUrl, mediaUrl, contentType]
      properties:
        uploadUrl:
          type: string
          format: uri
        mediaUrl:
          type: string
          format: uri
        storageKey:
          type: string
        contentType:
          type: string
        size:
          type: integer
          description: Echoed back when a `size` value was supplied in the request.
        headers:
          type: object
          additionalProperties:
            type: string

    PlatformOptions:
      type: object
      description: Per-platform options keyed by platform id.
      additionalProperties: true
      properties:
        facebook:
          type: object
          properties:
            message:
              type: string
              description: Facebook-specific message/caption. Defaults to the top-level `message`.
            post_type:
              type: string
              enum: [feed, story]
              default: feed
              description: Defaults to `feed` when omitted.
        instagram:
          type: object
          properties:
            message:
              type: string
              description: Instagram-specific caption. Defaults to the top-level `message`.
            post_type:
              type: string
              enum: [feed, story, reel, carousel]
              default: feed
              description: Defaults to `feed` when omitted. `story` publishes one image/video as an Instagram Story without caption/follow-up comments, `reel` requires one video, and `carousel` publishes 2 to 10 image/video items as one carousel post.
        threads:
          type: object
          properties:
            message:
              type: string
              description: Threads-specific message. Defaults to the top-level `message`.
            post_type:
              type: string
              enum: [text, image, video, carousel]
              description: Defaults dynamically. Mallary uses `text` when no media is supplied, `carousel` when more than one supported media item is supplied, `video` for a single MP4/MOV item, and `image` for a single JPG/JPEG/PNG/WEBP item.
        twitter:
          type: object
          properties:
            message:
              type: string
              description: X-specific message. Defaults to the top-level `message`.
        x:
          type: object
          properties:
            message:
              type: string
              description: X-specific message. Defaults to the top-level `message`.
        linkedin:
          type: object
          properties:
            message:
              type: string
              description: LinkedIn-specific message. Defaults to the top-level `message`.
            author_urn:
              type: string
              description: Optional author URN override.
        tiktok:
          type: object
          properties:
            message:
              type: string
              description: TikTok-specific message/caption. Defaults to the top-level `message`.
            post_type:
              type: string
              enum: [video, photo]
              description: Defaults dynamically. Mallary picks `photo` when the media list contains only images and no videos; otherwise it uses `video`.
            media_type:
              type: string
              enum: [PHOTO]
              description: Optional alias for selecting the TikTok photo variant. No default; use this only when you want to force photo mode via the alias.
            post_mode:
              type: string
              enum: [DIRECT_POST, MEDIA_UPLOAD]
              default: MEDIA_UPLOAD
              description: Defaults to `MEDIA_UPLOAD`. Use `DIRECT_POST` only when you want Mallary to publish directly to TikTok instead of sending the upload to the creator inbox for final review in TikTok.
            source:
              type: string
              enum: [FILE_UPLOAD, PULL_FROM_URL]
              description: Defaults by variant. Video posts default to `FILE_UPLOAD`. Photo posts always use `PULL_FROM_URL`. Mallary only accepts `PULL_FROM_URL` media from its own CDN.
            title:
              type: string
              maxLength: 2200
              description: TikTok caption/title override. Defaults to `message` (trimmed to TikTok's limit). For photo posts, TikTok applies a shorter platform limit.
            description:
              type: string
              maxLength: 4000
              description: TikTok photo description override. No default; omitted unless supplied.
            privacy_level:
              type: string
              enum:
                [
                  PUBLIC_TO_EVERYONE,
                  MUTUAL_FOLLOW_FRIENDS,
                  FOLLOWER_OF_CREATOR,
                  SELF_ONLY,
                ]
              description: Applies to `DIRECT_POST`. Defaults to the first allowed privacy level returned by TikTok creator info, preferring `PUBLIC_TO_EVERYONE`, then `MUTUAL_FOLLOW_FRIENDS`, then `FOLLOWER_OF_CREATOR`, then `SELF_ONLY`. If TikTok returns the private-account-only direct-post restriction, Mallary retries once with the most private allowed level.
            disable_comment:
              type: boolean
              description: Controls whether comments are disabled on the TikTok post. Applies to direct posts. When omitted, Mallary falls back to the creator's current TikTok comment setting.
            disable_duet:
              type: boolean
              description: Controls whether other TikTok users can create Duets from the video. Applies to direct-post video only. When omitted, Mallary falls back to the creator's current TikTok duet setting.
            disable_stitch:
              type: boolean
              description: Controls whether other TikTok users can create Stitches from the video. Applies to direct-post video only. When omitted, Mallary falls back to the creator's current TikTok stitch setting.
            video_cover_timestamp_ms:
              type: integer
              minimum: 0
              description: Millisecond timestamp used to choose the video cover frame for a direct-post TikTok video. Omitted unless supplied.
            auto_add_music:
              type: boolean
              description: For direct-post photo posts, asks TikTok to automatically add music to the photo carousel. Omitted unless supplied.
            brand_content_toggle:
              type: boolean
              description: TikTok branded-content disclosure flag. When true, marks the post as branded content. Omitted unless supplied.
            brand_organic_toggle:
              type: boolean
              description: TikTok brand-organic disclosure flag. Omitted unless supplied.
            is_aigc:
              type: boolean
              description: TikTok AI-generated-content disclosure flag for direct-post video. Omitted unless supplied.
            photo_cover_index:
              type: integer
              minimum: 0
              default: 0
              description: Zero-based index of the image TikTok should use as the photo carousel cover. Values beyond the image count are clamped to the last image. Defaults to `0` when omitted.
        youtube:
          type: object
          properties:
            message:
              type: string
              description: YouTube-specific description/default-title source. Defaults to the top-level `message`.
            post_type:
              type: string
              enum: [regular, shorts]
              description: Defaults dynamically. Mallary uses `shorts` when the video is short-form (<= 180s) and vertical, or when dimensions are unavailable for a short candidate; otherwise it uses `regular`.
            title:
              type: string
              maxLength: 100
              description: Defaults to the first non-empty value of `platform_options.youtube.title`, the first line of `message`, or `Untitled Video`.
            visibility:
              type: string
              enum: [public, unlisted, private]
              default: public
              description: Defaults to `public`.
            categoryId:
              type: string
              default: "22"
              description: Defaults to YouTube category id `22`.
            madeForKids:
              type: boolean
              default: false
              description: Defaults to `false`.
        pinterest:
          type: object
          properties:
            message:
              type: string
              description: Pinterest-specific description/default title source. Defaults to the top-level `message`.
            post_type:
              type: string
              enum: [image, video]
              description: Defaults dynamically. Mallary uses `video` when the media list contains a video; otherwise it uses `image`.
            title:
              type: string
              maxLength: 100
            boardId:
              type: string
              description: Board to post into. Defaults to the connected Pinterest board id from the saved token when omitted.
            link:
              type: string
              format: uri
        reddit:
          type: object
          properties:
            message:
              type: string
              description: Reddit-specific title/text source. Defaults to the top-level `message`.
            post_type:
              type: string
              enum: [text, link, image]
              description: Defaults dynamically. Mallary uses `image` when the media list contains an image; otherwise it uses `text`.
        snapchat:
          type: object
          properties:
            message:
              type: string
              description: Snapchat-specific message. Defaults to the top-level `message`.
            contentType:
              type: string
              enum: [story, saved_story, spotlight]
              description: Defaults dynamically. Mallary uses `spotlight` when the media list contains a video; otherwise it uses `story`.

    CreatePostRequest:
      type: object
      required: [message, platforms]
      properties:
        message:
          type: string
          minLength: 1
        platforms:
          type: array
          minItems: 1
          items:
            $ref: "#/components/schemas/Platform"
        profile_id:
          $ref: "#/components/schemas/ProfileId"
          description: Connection profile to publish from. Omit to use the default profile.
        media:
          type: array
          description: Media URLs obtained from using the /api/v1/upload endpoint.
          items:
            $ref: "#/components/schemas/MediaItem"
        comments_under_post:
          type: array
          maxItems: 3
          items:
            type: string
          description: Up to 3 follow-up comments/replies under the main post when supported by the target platform/format.
        scheduled_at:
          type: string
          description: Optional scheduled publish timestamp. Send an absolute timestamp like `2026-04-06T18:30:00Z`, or send a local datetime like `2026-04-06T14:30` together with `scheduled_timezone`.
        scheduled_timezone:
          type: string
          description: Optional IANA timezone such as `America/New_York`. When provided with a local `scheduled_at` that omits an offset, Mallary resolves the wall-clock time in this timezone and stores the resulting UTC publish time.
        auto_reply_enabled:
          type: boolean
          description: Optional per-post override for AI auto-replies.
        platform_options:
          $ref: "#/components/schemas/PlatformOptions"
          description: Optional per-platform overrides.
        webhook_url:
          type: string
          format: uri
          description: Optional callback URL for completion notifications.

    CreatePostResponse:
      type: object
      properties:
        status:
          type: string
          enum: [queued]
        batch_id:
          type: string
        profile_id:
          type: string
          pattern: "^[A-Za-z0-9]{6,32}$"
          nullable: true
        jobs:
          type: array
          items:
            type: object
            properties:
              platform:
                $ref: "#/components/schemas/Platform"
              jobId:
                type: string
              platform_post_id:
                type: string
                nullable: true
                description: Platform-returned post ID. `null` until the queued job publishes successfully.
              platform_post_url:
                type: string
                nullable: true
                description: Public platform post URL when available. `null` until the queued job publishes successfully or when the platform does not expose a URL.

    AutoReplyWarning:
      type: object
      properties:
        scope:
          type: string
        platform:
          type: string
        code:
          type: string
        severity:
          type: string
          enum: [warning, error, info]
        message:
          type: string
        details:
          nullable: true
        retry_at:
          type: string
          nullable: true
        expires_at:
          type: string
          nullable: true
        updated_at:
          type: string
          nullable: true

    JobData:
      type: object
      properties:
        id:
          type: string
        status:
          type: string
          enum:
            [
              queued,
              waiting,
              delayed,
              active,
              processing,
              completed,
              failed,
              unknown,
            ]
        attemptsMade:
          type: integer
          nullable: true
        failedReason:
          type: string
          nullable: true
        platform_post_id:
          type: string
          nullable: true
          description: Platform-returned post ID when the job has published successfully.
        platform_post_url:
          type: string
          nullable: true
          description: Public platform post URL when available.
        result:
          type: object
          nullable: true
          additionalProperties: true
        error:
          type: string
          nullable: true
        created_at:
          type: string
          nullable: true
        updated_at:
          type: string
          nullable: true
        started_at:
          type: string
          nullable: true
        finished_at:
          type: string
          nullable: true

    GetJobResponse:
      type: object
      properties:
        status:
          type: string
          enum: [ok]
        data:
          type: object
          properties:
            job:
              $ref: "#/components/schemas/JobData"
            warnings:
              type: array
              items:
                $ref: "#/components/schemas/AutoReplyWarning"

    PostResult:
      type: object
      properties:
        platform:
          $ref: "#/components/schemas/Platform"
        success:
          type: boolean
          nullable: true
        platform_post_id:
          type: string
          nullable: true
        platform_post_url:
          type: string
          nullable: true
        post_type:
          type: string
          nullable: true
        error_message:
          type: string
          nullable: true
        retry_exhausted:
          type: boolean
          nullable: true
        next_retry_at:
          type: string
          nullable: true
        attempt:
          type: integer
          nullable: true
        attempts_allowed:
          type: integer
          nullable: true

    RetryInfo:
      type: object
      properties:
        exhausted:
          type: boolean
        next_retry_at:
          type: string
          nullable: true
        attempt:
          type: integer
        attempts_allowed:
          type: integer

    AnalyticsMetrics:
      type: object
      properties:
        captured_at:
          type: string
          nullable: true
        impressions:
          type: integer
          nullable: true
        reach:
          type: integer
          nullable: true
        likes:
          type: integer
          nullable: true
        comments:
          type: integer
          nullable: true
        shares:
          type: integer
          nullable: true
        clicks:
          type: integer
          nullable: true
        views:
          type: integer
          nullable: true
        engagementRate:
          type: number
          nullable: true

    AnalyticsItem:
      allOf:
        - type: object
          properties:
            post_id:
              type: integer
            platform:
              $ref: "#/components/schemas/Platform"
        - $ref: "#/components/schemas/AnalyticsMetrics"

    Post:
      type: object
      properties:
        id:
          type: integer
        batch_id:
          type: string
          nullable: true
        profile_id:
          type: string
          pattern: "^[A-Za-z0-9]{6,32}$"
          nullable: true
        job_ids:
          type: array
          items:
            type: integer
        message:
          type: string
        media:
          type: array
          items:
            $ref: "#/components/schemas/MediaItem"
        status:
          type: string
          enum: [queued, scheduled, processing, partial, completed, failed]
        source:
          type: string
          enum: [api, dashboard, cli, mcp, make]
        created_at:
          type: string
        posted_at:
          type: string
          nullable: true
        scheduled_at:
          type: string
          nullable: true
        scheduled_timezone:
          type: string
          nullable: true
        platforms:
          type: array
          items:
            $ref: "#/components/schemas/Platform"
        results:
          type: array
          items:
            $ref: "#/components/schemas/PostResult"
        retry:
          $ref: "#/components/schemas/RetryInfo"
        analytics:
          type: object
          additionalProperties:
            $ref: "#/components/schemas/AnalyticsMetrics"

    ListPostsResponse:
      type: object
      properties:
        status:
          type: string
          enum: [ok]
        data:
          type: object
          properties:
            posts:
              type: array
              items:
                $ref: "#/components/schemas/Post"
            warnings:
              type: array
              items:
                $ref: "#/components/schemas/AutoReplyWarning"
            capabilities:
              $ref: "#/components/schemas/Capabilities"
            profile_id:
              type: string
              pattern: "^[A-Za-z0-9]{6,32}$"
              nullable: true
            meta:
              type: object
              properties:
                page:
                  type: integer
                per_page:
                  type: integer
                total:
                  type: integer

    DeletePostResponse:
      type: object
      properties:
        status:
          type: string
          enum: [ok]
        data:
          type: object
          properties:
            deleted_count:
              type: integer
            deleted_job_ids:
              type: array
              items:
                type: integer
            batch_id:
              type: string
              nullable: true

    DisconnectRequest:
      type: object
      required: [platform]
      properties:
        platform:
          type: string
        profile_id:
          $ref: "#/components/schemas/ProfileId"
          description: Connection profile to disconnect from. Omit to use the default profile.

    PlatformProfile:
      type: object
      properties:
        id:
          type: string
          nullable: true
        username:
          type: string
          nullable: true
        avatar:
          type: string
          nullable: true
        scope:
          type: string
          nullable: true
        updated_at:
          type: string
          nullable: true
        expires_at:
          type: string
          nullable: true

    ConnectionProfile:
      type: object
      properties:
        id:
          $ref: "#/components/schemas/ProfileId"
        name:
          type: string
        is_default:
          type: boolean
        connected_platforms:
          type: array
          items:
            $ref: "#/components/schemas/PublicPlatform"
        platform_profiles:
          type: object
          additionalProperties:
            $ref: "#/components/schemas/PlatformProfile"
        created_at:
          type: string
          nullable: true
        updated_at:
          type: string
          nullable: true

    ProfileLimits:
      type: object
      properties:
        max_accounts_per_platform:
          type: integer

    ProfileListResponse:
      type: object
      properties:
        status:
          type: string
          enum: [ok]
        data:
          type: object
          properties:
            profiles:
              type: array
              items:
                $ref: "#/components/schemas/ConnectionProfile"
            default_profile_id:
              type: string
              pattern: "^[A-Za-z0-9]{6,32}$"
              nullable: true
            limits:
              $ref: "#/components/schemas/ProfileLimits"

    CreateConnectionProfileRequest:
      type: object
      properties:
        name:
          type: string
          description: Profile display name. Defaults to `New profile`.

    RenameConnectionProfileRequest:
      type: object
      required: [name]
      properties:
        name:
          type: string

    ProfileMutationResponse:
      type: object
      properties:
        status:
          type: string
          enum: [ok]
        data:
          type: object
          properties:
            profile_id:
              type: string
              pattern: "^[A-Za-z0-9]{6,32}$"
              nullable: true
            profiles:
              type: array
              items:
                $ref: "#/components/schemas/ConnectionProfile"

    AutoReplyProfileState:
      type: object
      properties:
        ready:
          type: boolean
        missing_fields:
          type: array
          items:
            type: string

    SettingsUpdateRequest:
      type: object
      properties:
        profile_id:
          $ref: "#/components/schemas/ProfileId"
          description: Connection profile settings to update. Omit to use the default profile.
        auto_reply_enabled:
          type: boolean
          description: Enables AI auto-replies for this profile when the plan and profile fields allow it.
        brand_profile:
          type: string
        business_name:
          type: string
        business_description:
          type: string
        website_url:
          type: string
        services:
          type: string
        features:
          type: string
        contact_info:
          type: string
        pricing:
          type: string
        faq:
          type: string

    SettingsResponse:
      type: object
      properties:
        status:
          type: string
          enum: [ok]
        data:
          type: object
          properties:
            profile_id:
              type: string
              pattern: "^[A-Za-z0-9]{6,32}$"
              nullable: true
            auto_reply_enabled:
              type: boolean
            capabilities:
              $ref: "#/components/schemas/Capabilities"
            auto_reply_profile:
              $ref: "#/components/schemas/AutoReplyProfileState"
            warnings:
              type: array
              items:
                $ref: "#/components/schemas/AutoReplyWarning"
            brand_profile:
              type: string
            business_name:
              type: string
            business_description:
              type: string
            website_url:
              type: string
            services:
              type: string
            features:
              type: string
            contact_info:
              type: string
            pricing:
              type: string
            faq:
              type: string

    ConnectedPlatformItem:
      type: object
      properties:
        platform:
          $ref: "#/components/schemas/PublicPlatform"
        connected:
          type: boolean

    ConnectedPlatformsCounts:
      type: object
      properties:
        connected:
          type: integer
        supported:
          type: integer

    ConnectedPlatformsResponse:
      type: object
      properties:
        status:
          type: string
          enum: [ok]
        data:
          type: object
          properties:
            platforms:
              type: array
              items:
                $ref: "#/components/schemas/ConnectedPlatformItem"
            profile_id:
              type: string
              pattern: "^[A-Za-z0-9]{6,32}$"
              nullable: true
            default_profile_id:
              type: string
              pattern: "^[A-Za-z0-9]{6,32}$"
              nullable: true
            profiles:
              type: array
              items:
                $ref: "#/components/schemas/ConnectionProfile"
            connected:
              type: array
              items:
                $ref: "#/components/schemas/PublicPlatform"
            disconnected:
              type: array
              items:
                $ref: "#/components/schemas/PublicPlatform"
            counts:
              $ref: "#/components/schemas/ConnectedPlatformsCounts"
            limits:
              $ref: "#/components/schemas/ProfileLimits"

    DisconnectResponse:
      type: object
      properties:
        status:
          type: string
          enum: [ok]
        platform:
          type: string
        profile_id:
          type: string
          pattern: "^[A-Za-z0-9]{6,32}$"
          nullable: true

    Webhook:
      type: object
      properties:
        id:
          type: integer
        url:
          type: string
          format: uri
        events:
          type: array
          items:
            $ref: "#/components/schemas/WebhookEvent"
        active:
          type: boolean
        created_at:
          type: string
          nullable: true

    WebhookEvent:
      type: string
      description: "Use '*' to receive all events."
      enum:
        - "*"
        - post.scheduled
        - post.published
        - post.failed
        - post.partial
        - auto_reply.posted

externalDocs:
  description: Full product docs
  url: https://docs.mallary.ai/
